.footer {
  background-color: #1a648a;
  a {
    text-decoration: none;
  }

  &_header {
    color: #ccdfcd;
    border-bottom: 1px solid;
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 10px;
  }
  &_img {
    width: 100px;
    height: 100px;
    margin: 5px 5px 15px 0px;
    outline: 1px solid white;
    padding: 4px;
  }
  &_text {
    a {
      color: #8dc4c0;
      font-size: 1.6rem;
    }
  }
  &_icons {
    font-size: 3rem;
    margin: 10px 0px;
  }
  &_rights {
    background-color: #125580;
    color: #7aa5b3;
    text-align: center;
    font-size: 1.2rem;
    padding: 30px;
    &-number {
      font-size: 2rem;
      color: #f1f1f1;
    }
    &-phone {
      color: #42c0fb;
      font-size: 2rem;
    }
  }
}

.button {
  &_viewmore {
    margin-top: 10px;
    background-color: #4bb4df;
    padding: 8px;
    font-size: 1.3rem;
    color: white;
    border-radius: 6px;
  }
}
