.campuses {
  span {
    padding: 12px;
    width: 150px;
    font-size: 1.8rem;
    color: #d65368;
    font-weight: 600;
  }
  &_links {
    & > * {
      background-color: #f07582;
      padding: 10px;
      font-size: 1.3rem;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin: 5px 10px 5px 10px;
    }
  }
}
